@model Lab5Borowy.Models.SportClass

@{
    ViewData["Title"] = "Add Sport Class";
}

<h1>Add Sport Class</h1>

<form asp-action="AddSportClass" method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group">
        <label asp-for="Name"></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Date"></label>
        <input asp-for="Date" type="date" class="form-control" />
        <span asp-validation-for="Date" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="StartTime"></label>
        <input asp-for="StartTime" type="time" class="form-control" />
        <span asp-validation-for="StartTime" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Duration"></label>
        <input asp-for="Duration" type="time" class="form-control" />
        <span asp-validation-for="Duration" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Capacity"></label>
        <input asp-for="Capacity" type="number" class="form-control" />
        <span asp-validation-for="Capacity" class="text-danger"></span>
    </div>
    @* <button type="submit" class="btn btn-primary">Add</button> *@
    <div class="form-group">
        <input type="submit" value="Add" class="btn btn-primary" />
    </div>
</form>
