<h1>Register</h1>
@if (ViewBag.Error != null)
{
    <div style="color: red;">@ViewBag.Error</div>
}
@if (ViewBag.Success != null)
{
    <div style="color: green;">@ViewBag.Success</div>
}
<form method="post" action="/Account/Register">
    <input type="text" name="username" placeholder="Username" required />
    <input type="password" name="password" placeholder="Password" required />
    <button type="submit">Register</button>
</form>
